.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage__h1 {
  margin-bottom: 0;
  text-shadow: 0 0 4px #73ea;
  font-size: 3rem;
  text-align: center;
}

.top-burgers {
  color: #73e;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.top-products {
  display: grid;
  gap: 1.5rem;
  padding-block: 5em;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

.top-products .product {
  margin-inline: 2rem;
}

.homepage__description-first,
.homepage__description-second {
  text-align: center;
  padding: 6em 0.3em;
  width: 100%;
  font-size: 2rem;
}

.homepage__description-first {
  background: linear-gradient(#73e, #7ee);
  color: white;
  text-shadow: 0 0 1rem black;
}

.homepage__description-second {
  text-decoration: none;
  color: #73e;
  text-shadow: 0 0 2px grey;
}

.top-burgers__link {
  margin: 1rem;
  margin-bottom: 5rem;
  padding: 1rem;
  text-align: centers;
}

.homepage__product-button {
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  font-weight: 700;
  cursor: pointer;
  background: #73e;
  color: white;
  text-shadow: 0 0 3px black;
  box-shadow: 0 0 1rem grey;
  font-size: 1.12rem;
}

.review-block {
  font-size: 1.1rem;
  max-width: 100%;
  margin: 0;
}

.review-quote {
  text-decoration: underline;
  text-align: center;
  animation: fadeInReview cubic-bezier(0, 0, 0.37, 1.06) 5s infinite;
}

@keyframes fadeInReview {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    filter: blur(1rem);
  }
  20%, 85% {
    filter: blur(0);
  }
  35%,
  85% {
    opacity: 1;
    transform: translateY(0rem);
  }
  90%,
  100% {
    opacity: 0;
    filter: blur(1rem);
  }
}

.review-quote::before,
.review-quote::after {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(150, 60, 80);
  text-shadow: 0 1px 1px black;
}

.review-quote::before {
  content: open-quote;
}

.review-quote::after {
  content: close-quote;
}

@media screen and (min-width: 650px) {
  .top-products {
    grid-template-columns: repeat(3, minmax(75px, auto));
  }

  .top-products .product {
    margin-inline: 0;
  }
}
