.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage__h1 {
  margin-bottom: 0;
  color: #73e;
  text-shadow: 0 0 4px #73ea;
  font-size: 3rem;
  text-align: center;
}

.top-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding-block: 5em;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
}

.homepage__description-first,
.homepage__description-second {
  text-align: center;
  padding: 6em 0.3em;
  width: 100%;
  font-size: 2rem;
}

.homepage__description-first {
  background: linear-gradient(#73e, #7ee);
  color: white;
  text-shadow: 0 0 1rem black;
}

.homepage__description-second {
  text-decoration: none;
  color: #73e;
  text-shadow: 0 0 2px grey;
}

.homepage__product-button {
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  font-weight: 700;
  cursor: pointer;
  background: #73e;
  color: white;
  text-shadow: 0 0 3px black;
  box-shadow: 0 0 1rem grey;
  font-size: 1.12rem;
}

.review-block {
  font-size: 1.1rem;
}

.review-quote {
  text-decoration: underline;
}

.review-quote::before,
.review-quote::after {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(207, 28, 67);
  text-shadow: 0 1px 1px black;
}

.review-quote::before {
  content: open-quote;
}

.review-quote::after {
  content: close-quote;
}
